@import 'vendor/flickity';

.crds-legacy-styles {
  @import './glyphicons';

  .homepage .navbar-brand.logo .icon-logo,
  .homepage ul.cr-nav>li>a {
    color: #fff;
  }
}

.crds-styles {
  @import 'node_modules/crds-styles/assets/stylesheets/variables';
  @import 'node_modules/crds-styles/assets/stylesheets/overrides';
  @import 'node_modules/crds-styles/assets/stylesheets/functions';
  @import 'node_modules/crds-styles/assets/stylesheets/mixins';

  font-family: $base-font-face;
  font-size: $base-font-size;
  font-weight: 300;

  .wf-loading {
      visibility: hidden;
  }

  .app-container {
    display: block;
    min-height: 35vh;
  }

  @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
  @import 'node_modules/crds-styles/assets/stylesheets/base/modules';
  @import 'node_modules/crds-styles/assets/stylesheets/components/modules';
  @import 'node_modules/crds-styles/assets/stylesheets/layouts/modules';
  @import 'node_modules/crds-styles/assets/stylesheets/themes/modules';
  @import 'node_modules/crds-styles/assets/stylesheets/utilities/modules';
  @import 'node_modules/crds-styles/assets/stylesheets/vendors/datepicker';
  @import 'node_modules/crds-styles/assets/stylesheets/vendors/timepicker';
  @import 'node_modules/crds-styles/assets/stylesheets/vendors/toast';
  @import './modules/forms';
  @import './modules/legacy_footer';
  @import './modules/tab_nav';
  @import './pages/go_trips';
  @import './pages/groups';
  @import './pages/homepage';
  @import './pages/locations';
  @import './pages/media';
  @import './pages/podcasts';
  @import './pages/publication';
  @import './pages/publications';
  @import './pages/live';

  .bg-repeated {
    background-repeat: repeat;
    background-size: contain;
  }

  .w-60 {
    max-width: 60%;
  }
}

.noscroll {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Load dark-theme styles outside the crds-styles context.
@import 'node_modules/crds-styles/assets/stylesheets/variables';
@import 'node_modules/crds-styles/assets/stylesheets/themes/dark';
