.crds-legacy-styles {
  @import './glyphicons';

  .homepage .navbar-brand.logo .icon-logo,
  .homepage ul.cr-nav>li>a {
    color: #fff;
  }
}

.crds-styles {
  .wf-loading {
      visibility: hidden;
  }

  @import 'node_modules/crds-styles/assets/stylesheets/variables';
  @import 'node_modules/crds-styles/assets/stylesheets/overrides';
  @import 'node_modules/crds-styles/assets/stylesheets/functions';
  @import 'node_modules/crds-styles/assets/stylesheets/mixins';
  @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
  @import 'node_modules/crds-styles/assets/stylesheets/base/modules';
  @import 'node_modules/crds-styles/assets/stylesheets/components/modules';
  @import 'node_modules/crds-styles/assets/stylesheets/layouts/modules';
  @import 'node_modules/crds-styles/assets/stylesheets/themes/modules';
  @import 'node_modules/crds-styles/assets/stylesheets/utilities/modules';
}

.maestro-homepage {
  .crds-styles {
    .header .navbar-brand.logo svg, 
    .header .nav>li>a:not(.cta) {
      color: #fff;
    }
  }
  .crds-legacy-styles {
    .header .navbar-brand.logo svg,
    .header .nav>li>a:not(.cta) {
      color: #fff;
    }      
    .homepage {
      background: none !important
    }
  }
}

.maestro-homepage {
  background: #fff url(https://crds-cms-uploads.imgix.net/content/images/crossroads-church-home.jpg) no-repeat !important;
  background-position: -170px top !important;
  height: 100%;  
}

@media only screen and (min-width:768px){
  .maestro-homepage {
    background-position:center top !important;
  }
}
