<div class="crds-legacy-styles homepage">
    <div class="container-fluid main animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <%= raw(assigns[:payload]) %>
            </div>
        </div>
    </div>    
</div>

