/*
 * Live
 */
.btn-live-schedule-trigger {
  color: $cr-white;
  display: flex;
  margin: -1.375rem 0 0;
  padding-left: .75rem;
  padding-right: .75rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 50%;

  > * {
    margin: 0 .25rem;
  }

  &:active,
  &:focus,
  &:hover,
  &.active {
    color: $cr-white;
    text-decoration: none;
  }
}




/*
 * Live Stream
 */
.page--live-stream & {
  .crds-shared-header .header {
    ul.nav-pills > li:not(.open) {
      padding: .625rem 0;

      > a:not(.cta) {
        color: $cr-white;
        padding: 0;

        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          color: $cr-gray-light;
        }
      }

      a > svg {
        display: inline-block;
        margin: 0 .25rem 0 0;
        vertical-align: middle;
      }

      .link-icon-text {
        vertical-align: middle;
      }
    }
  }

  .well {
    background-color: $cr-gray-darker;
    border: none;

    * {
      color: $cr-gray;
    }

    iframe {
      width: 100%;
    }
  }
}
