.locations-header {
    .component-header {
        @media screen and (min-width: $screen-sm-min) {
            float: left;
        }
    }
    .searchbar {
        margin: 1.25rem 0;
        width: 100%;
        @media screen and (min-width: $screen-sm-min) {
            float: right;
            margin-bottom: .5rem;
            padding: .5rem;
            width: 50%;
        }

        .form-control {
            // reset bad styling => remove when fixed
            // update to crds-styles v1.1.0 didn't seem to work
            width: 100%;
            position: relative;
            height: 42px;
            top: 0;
        }
    }
}
