/* Temporary styles for Adam's podcast pages. Eventually, this will be redesigned by Ample */

.podcast-bg  {
  position: relative;
  height: auto;

  @media (min-width:$screen-sm-min) {
    height: 515px;

    h1  {
      font-size:85px;
    }
  }

  @media (min-width:$screen-md-min) {
    height: 535px;
  }
}
