<div class="homepage">
  <div class="crds-styles">
    <%= render CrossroadsInterface.SharedView, "header.html", %{content_blocks: @content_blocks } %>
  </div>
  <div class="container-fluid main animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <%= raw(assigns[:payload]) %>
      </div>
    </div>
  </div>
  <!--/container-->

  <%= render CrossroadsInterface.SharedView, "footer.html", %{content_blocks: @content_blocks } %>
</div>
<!--/homepage-->
