<!DOCTYPE html>
<html lang="en" ng-app="crossroads">
  <head>
    <!-- Begin Monetate ExpressTag Async v6.1. Place at start of document head. DO NOT ALTER. -->
    <script type="text/javascript">
    var monetateT = new Date().getTime();
    (function() {
        var p = document.location.protocol;
        if (p == "http:" || p == "https:") {
            var m = document.createElement('script'); m.type = 'text/javascript'; m.async = true; m.src = (p == "https:" ? "https://s" : "http://") + "e.monetate.net/js/2/a-ad392f3b/d/crossroads.net/custom.js";
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(m, s);
        }
    })();
    </script>
    <!-- End Monetate tag. -->
    <%= render_existing CrossroadsInterface.SharedView, @meta_template, assigns %>
    <%= render CrossroadsInterface.SharedView, "common_head.html", assigns %>
    <%= render_existing @view_module, "head.html", assigns %>
  </head>
  <body class="<%= @body_class %>">
    <%= render CrossroadsInterface.SharedView, "common_body.html", assigns %>
    <%= render_existing @view_module, "body.html", assigns %>
    <div class="homepage-wrapper">
        <%= render CrossroadsInterface.SharedView, "header.html", %{content_blocks: @content_blocks, conn: @conn } %>
        <div class="<%= @crds_styles %>">
            <div class="homepage">
                <div class="container-fluid main animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <%= render @view_module, @view_template, assigns %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= render CrossroadsInterface.SharedView, "footer.html", %{content_blocks: @content_blocks } %>
    <%= render CrossroadsInterface.SharedView, "js_files.html", assigns %>
  </body>
</html>

