<!DOCTYPE html>
<html lang="en" ng-app="crossroads">
  <head>
    <%= render CrossroadsInterface.SharedView, "common_head.html", assigns %>
    <%= render_existing @view_module, "head.html", assigns %>
  </head>
  <body class="<%= @body_class %>">
    <%= render CrossroadsInterface.SharedView, "common_body.html", assigns %>
    <%= render_existing @view_module, "body.html", assigns %>
    <div class="<%= @crds_styles %>">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <%= render CrossroadsInterface.SharedView, "js_files.html", assigns %>
  </body>
</html>



