<!DOCTYPE html>
<html lang="en" ng-app="crossroads">
  <head>
    <%= render CrossroadsInterface.SharedView, "common_head.html", assigns %>
    <%= render_existing @view_module, "head.html", assigns %>
  </head>
  <body>
    <div class="crds-styles">
      <%= render CrossroadsInterface.SharedView, "header.html", %{content_blocks: @content_blocks, conn: @conn } %>
    </div>
    <%= render @view_module, @view_template, assigns %>
    <%= render CrossroadsInterface.SharedView, "footer.html", %{content_blocks: @content_blocks } %>
    <%= render CrossroadsInterface.SharedView, "common_body.html", assigns %>
    <%= render_existing @view_module, "body.html", assigns %>
  </body>
</html>



