<!DOCTYPE html>
<html lang="en" ng-app="crossroads">
  <head>
    <%= render_existing CrossroadsInterface.SharedView, @meta_template, assigns %>
    <%= render CrossroadsInterface.SharedView, "common_head.html", assigns %>
    <%= render_existing @view_module, "head.html", assigns %>
  </head>
  <body class="<%= @body_class %>">
    <%= render CrossroadsInterface.SharedView, "common_body.html", assigns %>
    <%= render_existing @view_module, "body.html", assigns %>
    <%= render CrossroadsInterface.SharedView, "header.html", %{content_blocks: @content_blocks, conn: @conn } %>
    <div class="<%= @crds_styles %>">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <%= render CrossroadsInterface.SharedView, "footer.html", %{content_blocks: @content_blocks } %> 
    <%= render CrossroadsInterface.SharedView, "js_files.html", assigns %>
  </body>
</html>



